<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
	
</head>
<body>
	
	<div class="container">
	
			<img src="" class="profile" th:src="@{/image/profile.png}" alt="" />
			
			<h1>Adding CSS , Javascript and Image in thymeleaf</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quos corporis assumenda error et dolor reprehenderit earum maxime aliquid totam doloremque cumque laboriosam doloribus necessitatibus velit explicabo magni officiis aperiam voluptatibus praesentium omnis asperiores excepturi deserunt quo sit quae distinctio voluptate numquam perferendis pariatur quam tempora molestias esse reiciendis libero!</p>
	
	</div>
	
	<script src=""  th:src="@{js/myjs.js}" ></script>
	
</body>
</html>